.card{
    background-image: url("/imgs/christmas_tree.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    /* purple shadow */
    box-shadow: 0 0 15px rgb(255, 2, 2);

}